.pico-content {
	overflow:auto !important;
	height:400px !important;
	width:500px !important;
  margin-top:100px !important;
}
#stucco {
  display:block !important;
  font-family:sans-serif !important;
  font-size:18px !important;
}
#stucco fieldset {
  margin:28px 0 !important;
}
#stucco label-block {
  margin-bottom:8px !important;
}
#stucco label {
  color:#555 !important;
}
#stucco .ranking {
  margin:0 6px !important;
}
#stucco .categorical {
  margin-left:10px !important;
}
#stucco .document-meta {
  margin-top: 5px !important;
  color: #999 !important;
}
#stucco #document-title {
  font-size: 14px !important;
}
#stucco #document-url {
  font-size: 12px !important;
}
